/* body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transform: 2s;
}

.slide{
    width: 800px;
    height: 500px;
} 
img{
    width: "full"
    height: 500px;    
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: #ffffff solid 2px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -300px;
}
#radio3:checked ~ .first{
    margin-left: -450px;
}
#radio4:checked ~ .first{
    margin-left: -500px;
}
#radio5:checked ~ .first{
    margin-left: -80px;
}
#radio6:checked ~ .first{
    margin-left: -100px;
} */
